{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/jcapotetodo/css/main.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/jcapotetodo/css/cover.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}To-Do App{% endblock %}

{% block body %}
  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="inner cover">
          <h1 class="cover-heading">ToDo example APP</h1>
          <p class="lead">ToDo example App is a symfony application. This APP is a simple ToDo list. You can create/delete/edit items and mark as done.</p>
          {% for info_message in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">{{info_message}}</div>
          {% endfor %} 
     
          {% for error_message in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">{{error_message}}</div>
          {% endfor %}
          <p class="lead">
          {{form_start(form)}}
          {{form_widget(form)}}
          {{form_end(form)}}
        </div>

        <div class="mastfoot">
          <div class="inner">
            <p>Cover template for <a href="https://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
          </div>
        </div>

      </div>

    </div>

  </div>

  {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  {% endblock %}
{% endblock %}
