{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/jcapotetodo/css/main.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/jcapotetodo/css/cover.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}To-Do App{% endblock %}

{% block body %}
  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="inner cover">
          <h1 class="cover-heading">ToDo example APP</h1>
          <p class="lead">ToDo example App is a symfony application. This APP is a simple ToDo list. You can create/delete/edit items and mark as done.</p>
          {% for info_message in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">{{info_message}}</div>
          {% endfor %} 
     
          {% for error_message in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">{{error_message}}</div>
          {% endfor %}
          <p class="lead">
          {{form_start(form)}}
          {{form_widget(form)}}
          {{form_end(form)}}
          <table class="table thead-inverse">
            <tbody>
             {% for item in item_list %}
                <tr>
                  <td scope="row" class="status{{item.status}}">{{item.text}}</td>
                  <td><a title="Edit your to-do item" href="todo/edit/{{item.id}}"><span class="glyphicon glyphicon-pencil"></span></a> | {% if item.status %}<a title="Change status to uncompleted" href="todo/uncomplete/{{item.id}}"><span class="glyphicon glyphicon-ok-circle"></a>{% else %} <a title="Change status to completed" href="todo/complete/{{item.id}}"></span><span class="glyphicon glyphicon-ok-sign"></span></a> {% endif %} | <a title="Delete your to-do item" href="todo/delete/{{item.id}}"><span class="glyphicon glyphicon-remove-sign"></span></a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          </p>
        </div>

        <div class="mastfoot">
          <div class="inner">
            <p>Source <a href="https://github.com/jacintocapote/todo-symfony-heroku">https://github.com/jacintocapote/todo-symfony-heroku</a>.</p>
          </div>
        </div>

      </div>

    </div>

  </div>

  {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  {% endblock %}
{% endblock %}
